@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{margin: 0; padding: 0;}

body, html {
    height: 100%;
    width: 100%;
    color: #f8f8f2;
    font-family: 'Roboto', sans-serif;;
    background-color: #282a36;
}

body {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 10% 85% 5%;
}

a {text-decoration: none; color: #ff79c6;}
li {list-style: none;}
header {padding: 10px 0; grid-column: 1 / 4; text-align: center;}

aside {grid-row: 2 / 3;}

main {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5% 95%;
}

#preview {
    max-width: 100%;
    height: 95%;
    grid-column: 1 / 4;
    grid-row: 2;
}

#filters {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

li {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    text-shadow: 0 1px #282a36;
    border: 1px solid #f8f8f2;
    background-image: url(../demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#crop {display: none;}
#photo-file {display: none;}
#selection-tool {
    position: fixed;
    border: 2px dashed #50fa7b;
    display: none;
}

footer {
    padding: 5px 0;
    text-align: center;
    grid-column: 1 / 4;
}
@keyframes heart {
    from{transform: scale(.9);}
    to{transform: scale(1.2);}
}
.love {
    display: inline-block;
    position: relative;
    animation: heart .5s linear infinite alternate-reverse;
}