@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{margin: 0; padding: 0;}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #f8f8f2;
    font-family: 'Roboto', sans-serif;;
    background-color: #282a36;
}

a {text-decoration: none; color: #ff79c6;}
header {margin: 10px 0;}

main {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preview {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 10px 0;
}
button {
    width: 50%;
    color: #f8f8f2;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 15pt;
    font-weight: bold;
    padding: 15px;
    box-shadow: 0 2px 0 #9c3535;
    background-color: #ff5555;
}
button:active {transform: translateY(1px); box-shadow: 0 1px #9c3535;}
#crop {display: none;}

#photo-file {display: none;}

#selection-tool {
    position: fixed;
    border: 2px dashed #50fa7b;
    display: none;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
}
@keyframes heart {
    from{transform: scale(.9);}
    to{transform: scale(1.2);}
}
.love {
    display: inline-block;
    position: relative;
    animation: heart .5s linear infinite alternate-reverse;
}